.products-div {
    width: 100%;
    padding: 3rem 20px;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: calc(20rem / 16);
    row-gap: calc(20rem / 16);
}

.product-img {
    width: 100%;
}

.product-name-a {
    font-size: calc(18rem / 16);
    color: var(--color4);
    font-weight: 700;
    text-decoration: none;
}

.product-name-a:hover {
    color: var(--primary-hover);
}

.rating-img {
    width: calc(24rem/16);
}

.rating-count-span {
    font-size: calc(16rem/16);
    color: var(--color5);
}

.rating-div {
    display: flex;
    align-items: center;
    gap: calc(6rem/16);
}

.product-div {
    display: flex;
    flex-direction: column;
    row-gap: calc(10rem/16);
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.stock-span {
    color: var(--color5);
    font-size: calc(14rem/16);
    font-weight: 600;
    text-transform: uppercase;
}

.price-span {
    font-size: calc(22rem/16);
    font-weight: 600;
}

.product-info-div {
    padding: 20px;
    font-family: sans-serif;
    color: var(--color4);
}

.price-stock-div {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.cirle-div {
    width: 10px;
    height: 10px;
    background-color: var(--primary);
    border-radius: 100%;
}

.cirle-stock-div {
    display: flex;
    align-items: center;
    gap: 5px;

}