<!DOCTYPE html>
<html lang="en">
<%- include('./shared/head.ejs') %>

    <body>
        <%- include('./shared/header.ejs') %>
            <main>
                <section>
                    <div class="products-div">
                        <div class="product-div">
                            <img class="product-img" src="/assets/product images/image3.jpg" alt="">
                            <a class="product-name-a" href="#">Asus rog i5 12400f</a>

                            <div class="rating-div">
                                <img class="rating-img" src="/assets/star icon.png" alt="">
                                <span class="rating-count-span">(4)</span>
                            </div>
                            <!-- <ul>
                                    <li>Podnožje: Intel 1100</li>
                                    <li>Ram: 16gb</li>
                                </ul> -->
                            <span class="stock-span">
                                Na zalihi
                            </span>
                            <span class="price-span">
                                700,55€
                            </span>
                        </div>
                    </div>
                </section>
            </main>
            <%- include('./shared/footer.ejs') %>
    </body>

</html>